*~
.idea
.project
.settings
.buildpath
*.bak
*.tmp
*.daniel
*.claus
*.svn
*.tar.gz
*.tar.bz2
*.zip
*.tmp
*.sav
*.komodo*
*.sql.gz
database/balance/*.result
sletmig*
application/Config.php
doc/coverage
public/doc
public/control/Config.js
public/debug.php
vendor/
dist/
logs/
db/
debian/files
debian/hm
debian/hm.debhelper.log
debian/hm.substvars
